/* ==========================================================================
   Vars
   ========================================================================== */

$font-size: 16px;
$font-family: Georgia, 'Source Han Sans CN', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
$container-background: #f4f4f4;

/* ==========================================================================
   Global
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    background: $container-background;
    font-size: $font-size;
    color: #24292e;
    font-weight: 400;
    line-height: 1.8;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.1;
    }

    h1 {
        margin: .67em 0;
    }

    a {
        color: #4078c0;
        text-decoration: none;
    }

    &:visited {
        color: #4078c0;
    }

    ul{
        list-style-type: none;
    }
    

}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;

    .container-center {
        margin-right: auto;
        margin-left: auto;

        &:before {
            display: table;
            content: "";
        }

        &:after {
            display: table;
            clear: both;
            content: "";
        }
    }

    .header {
        @extend .container-center;

        margin: 40px 0 20px;
        padding-bottom: 9px;
        border-bottom: 1px solid #eee;

        h1 {
            font-size: 36px;
            padding-left: 40px;
        }
    }

    .navigation {
        @extend .container-center;

        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
        margin: 10px;

        a {
            display: inline-block;
            color: #777;
            padding: 15px;
            text-decoration: none;
            line-height: 20px;
            vertical-align: top;

            &:hover {
                color: #333333;
            }
        }

        a.favicon {
            line-height: .5em;
            padding: 10px;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .menus-main {
            display: inline;
        }

        .fl-right {
            float: right;
        }
    }

    .block-common {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #E7E7E7;
        margin: 10px 10px 20px;
        padding: 15px 20px;
    }

    .block-body {
        width: 75%;
        float: left;

        .archive-meta {
            @extend .block-common;
        }

        .archive-content {
            .content-item {
                @extend .block-common;
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

                .content-item-title {
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 1.1;
                }

                .content-item-meta {
                    display: block;
                    padding-bottom: 10px;
                    margin: 10px 0 20px 0;
                    border-bottom: 1px solid #DDD;
                    height: 20px;
                    
                    .content-item-meta-date {
                        float: left;
                        color: #999999;
                    }

                    .content-item-meta-tags {
                        float: right;
                        margin: 0 .2em;

                        a {
                            color: #4078c0;
                        }
                    }
                }

                .content-item-body {
                    overflow: hidden;
                    font-size: 16px;
                    line-height: 1.6;
                    word-wrap: break-word;

                    h1, h2, h3, h4, h5, h6 {
                        position: relative;
                        margin-top: 1em;
                        margin-bottom: 16px;
                        font-weight: 700;
                        line-height: 1.4
                    }

                    h1 {
                        padding-bottom: .3em;
                        font-size: 2.25em;
                        line-height: 1.2;
                        border-bottom: 1px solid #eee
                    }

                    h2 {
                        padding-bottom: .3em;
                        font-size: 1.75em;
                        line-height: 1.225;
                        border-bottom: 1px solid #eee
                    }

                    h3 {
                        font-size: 1.5em;
                        line-height: 1.43
                    }

                    h4 {
                        font-size: 1.25em
                    }

                    h5 {
                        font-size: 1em
                    }

                    h6 {
                        font-size: 1em;
                        color: #777
                    }

                    p {
                        margin: 10px 0px;
                    }

                    li > p {
                        margin-top: 16px
                    }

                    hr {
                        height: 1px;
                        padding: 0;
                        margin: 16px 0;
                        background-color: #e7e7e7;
                        border: 0
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        margin: 0 auto;
                        width: 100%;
                    }

                    > table {
                        display: block;
                        width: 100%;
                        overflow: auto;
                        border: none;
                        border-collapse: collapse;
                        border-spacing: 0;
                        text-align: left;
                        margin: 10px 0px;

                        th {
                            font-weight: 700;
                        }

                        th, td {
                            padding: 6px 13px;
                            border: 1px solid #ddd;
                        }

                        tr {
                            background-color: #fff;
                            border-top: 1px solid #ccc;

                            &:nth-child(2n) {
                                background-color: #f6f8fa;
                            }
                        }
                    }

                    ul {
                        padding-left: 2em;
                        li {
                            list-style-type: disc;
                        }
                    }

                    pre {
                        margin: 10px 0px;
                        word-wrap: normal;
                        padding: 15px 5px 15px 5px;
                        overflow: auto;
                        font-size: 85%;
                        line-height: 1.45;
                        border-radius: 3px;

                        code {
                            font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
                            border-radius: 3px;
                            display: inline;
                            max-width: initial;
                            padding: 0;
                            margin: 0;
                            overflow: initial;
                            line-height: inherit;
                            word-wrap: normal;
                            background-color: transparent;
                            border: 0;
                            font-size: 100%;
                            white-space: pre;
                            background: 0 0;
                        }
                    }

                    blockquote {
                        margin: 10px 0px;
                        padding: 0 15px;
                        color: #777777;
                        border-left: 4px solid #DDDDDD;

                        ul {
                            padding-left: 0em;
                            li {
                                list-style-type: none;
                            }
                        }
                    }

                    :first-child {
                        margin-top: 0;
                        padding-top: 0;
                    }

                    pre:first-child{
                        padding-top: 10px;
                        padding-bottom: 10px;
                        margin-bottom: 0px;
                    }
                    
                }
                .content-item-more {
                    margin: 10px 0 0 0;
                }
            }
        }

        .archive-pagination {
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #E7E7E7;
            margin: 10px 10px 20px;
            padding: 15px 20px;

            .paginator {
                margin: 0 auto;
                width: 100%;
                display: inline-block;
                text-align: center;
                font-size: 16px;

                .newer {
                    float: left;
                }

                .older {
                    float: right;
                }
            }
        }

        .archive-content-empty {
            min-height: 400px;
            text-align: center;
            line-height: 400px;
            color: #777;
        }
    }

    .block-sidebar {
        width: 25%;
        float: right;

        .widget {
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #E7E7E7;
            margin: 10px 10px 20px;
            padding: 15px 20px;
        }

        .sidebar {
            h2 {
                margin: 10px 0;
                font-size: 20px;
                border-bottom: 1px solid #E7E7E7;
                padding-bottom: 10px;
            }
        }

        .profile {
            ul {
                font-size: 13px;
                li {
                    &:before {
                        content: "•";
                        margin-right: 5px;
                    }
                }
            }
        }

        .sidebar-toc {
            .sidebar-toc-data {
                li {
                    a {
                        padding: 2px 0;
                        display: block;
                        text-decoration: none;
                        color: #464C5C;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: 14px;

                        :hover {
                            color: #136CB2;
                            text-decoration: underline;
                        }
                    }

                    ul {
                        margin: 4px 0 4px 8px;
                    }

                    > ul:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }

        .tags {
            ul {
                li {
                    margin: 0 .2em;
                    display: inline-block;
                }
            }
        }
    }

    @media (max-width: 768px){
        width: 100%;

        .block-body {
            width: 100%;
        }
        .block-sidebar {
            display: none;
        }
    }
}