@charset "UTF-8";
/* ==========================================================================
   Vars
   ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Georgia, "Source Han Sans CN", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  background: #f4f4f4;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  line-height: 1.8; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1; }
  body h1 {
    margin: .67em 0; }
  body a {
    color: #4078c0;
    text-decoration: none; }
  body:visited {
    color: #4078c0; }
  body ul {
    list-style-type: none; }

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto; }
  .container .container-center, .container .header, .container .navigation {
    margin-right: auto;
    margin-left: auto; }
    .container .container-center:before, .container .header:before, .container .navigation:before {
      display: table;
      content: ""; }
    .container .container-center:after, .container .header:after, .container .navigation:after {
      display: table;
      clear: both;
      content: ""; }
  .container .header {
    margin: 40px 0 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee; }
    .container .header h1 {
      font-size: 36px;
      padding-left: 40px; }
  .container .navigation {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    margin: 10px; }
    .container .navigation a {
      display: inline-block;
      color: #777;
      padding: 15px;
      text-decoration: none;
      line-height: 20px;
      vertical-align: top; }
      .container .navigation a:hover {
        color: #333333; }
    .container .navigation a.favicon {
      line-height: .5em;
      padding: 10px; }
      .container .navigation a.favicon img {
        width: 30px;
        height: 30px; }
    .container .navigation .menus-main {
      display: inline; }
    .container .navigation .fl-right {
      float: right; }
  .container .block-common, .container .block-body .archive-meta, .container .block-body .archive-content .content-item {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    margin: 10px 10px 20px;
    padding: 15px 20px; }
  .container .block-body {
    width: 75%;
    float: left; }
    .container .block-body .archive-content .content-item .content-item-title {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.1;
      border-bottom: 1px solid #DDD;
      padding-bottom: 15px;
      margin-bottom: 20px; }
    .container .block-body .archive-content .content-item .content-item-body {
      font-family: Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei',sans-serif;
      overflow: hidden;
      font-size: 16px;
      line-height: 1.6;
      word-wrap: break-word; }
      .container .block-body .archive-content .content-item .content-item-body h1, .container .block-body .archive-content .content-item .content-item-body h2, .container .block-body .archive-content .content-item .content-item-body h3, .container .block-body .archive-content .content-item .content-item-body h4, .container .block-body .archive-content .content-item .content-item-body h5, .container .block-body .archive-content .content-item .content-item-body h6 {
        position: relative;
        margin-top: 1em;
        margin-bottom: 16px;
        font-weight: 700;
        line-height: 1.4; }
      .container .block-body .archive-content .content-item .content-item-body h1 {
        padding-bottom: .3em;
        font-size: 2.25em;
        line-height: 1.2;
        border-bottom: 1px solid #eee; }
      .container .block-body .archive-content .content-item .content-item-body h2 {
        padding-bottom: .3em;
        font-size: 1.75em;
        line-height: 1.225;
        border-bottom: 1px solid #eee; }
      .container .block-body .archive-content .content-item .content-item-body h3 {
        font-size: 1.5em;
        line-height: 1.43; }
      .container .block-body .archive-content .content-item .content-item-body h4 {
        font-size: 1.25em; }
      .container .block-body .archive-content .content-item .content-item-body h5 {
        font-size: 1em; }
      .container .block-body .archive-content .content-item .content-item-body h6 {
        font-size: 1em;
        color: #777; }
      .container .block-body .archive-content .content-item .content-item-body blockquote {
        margin-bottom: 16px; }
      .container .block-body .archive-content .content-item .content-item-body p {
        margin: 10px 0px; }
      .container .block-body .archive-content .content-item .content-item-body li > p {
        margin-top: 16px; }
      .container .block-body .archive-content .content-item .content-item-body hr {
        height: 4px;
        padding: 0;
        margin: 16px 0;
        background-color: #e7e7e7;
        border: 0; }
      .container .block-body .archive-content .content-item .content-item-body img {
        max-width: 100%;
        max-height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      .container .block-body .archive-content .content-item .content-item-body blockquote {
        padding: 0 15px;
        color: #777777;
        border-left: 4px solid #DDDDDD; }
      .container .block-body .archive-content .content-item .content-item-body table {
        display: block;
        width: 100%;
        overflow: auto;
        border: none;
        border-collapse: collapse;
        border-spacing: 0; }
        .container .block-body .archive-content .content-item .content-item-body table th {
          font-weight: 700; }
        .container .block-body .archive-content .content-item .content-item-body table th, .container .block-body .archive-content .content-item .content-item-body table td {
          padding: 6px 13px;
          border: 1px solid #ddd; }
        .container .block-body .archive-content .content-item .content-item-body table tr {
          background-color: #fff;
          border-top: 1px solid #ccc; }
          .container .block-body .archive-content .content-item .content-item-body table tr:nth-child(2n) {
            background-color: #f8f8f8; }
      .container .block-body .archive-content .content-item .content-item-body pre {
        word-wrap: normal;
        padding: 16px;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #f7f7f7;
        border-radius: 3px; }
        .container .block-body .archive-content .content-item .content-item-body pre code {
          font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
          border-radius: 3px;
          display: inline;
          max-width: initial;
          padding: 0;
          margin: 0;
          overflow: initial;
          line-height: inherit;
          word-wrap: normal;
          background-color: transparent;
          border: 0;
          font-size: 100%;
          white-space: pre;
          background: 0 0; }
      .container .block-body .archive-content .content-item .content-item-body :first-child {
        margin-top: 0;
        padding-top: 0; }
    .container .block-body .archive-content .content-item .content-item-more {
      margin: 10px 0 0 0; }
    .container .block-body .archive-pagination {
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #E7E7E7;
      margin: 10px 10px 20px;
      padding: 15px 20px; }
      .container .block-body .archive-pagination .paginator {
        margin: 0 auto;
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 16px; }
        .container .block-body .archive-pagination .paginator .newer {
          float: left; }
        .container .block-body .archive-pagination .paginator .older {
          float: right; }
  .container .block-sidebar {
    width: 25%;
    float: right; }
    .container .block-sidebar .widget {
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid #E7E7E7;
      margin: 10px 10px 20px;
      padding: 15px 20px; }
    .container .block-sidebar .sidebar h2 {
      margin: 10px 0;
      font-size: 21px;
      border-bottom: 1px solid #E7E7E7;
      padding-bottom: 10px; }
    .container .block-sidebar .profile ul {
      font-size: 13px; }
      .container .block-sidebar .profile ul li:before {
        content: "•";
        margin-right: 5px; }
    .container .block-sidebar .tags ul li {
      margin: 0 .2em;
      display: inline-block; }
