{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "block-body" }}
<div class="archive-content">
    <div class="content-item">
        <div class="content-item-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        <div class="content-item-meta">
            <div class="content-item-meta-date">
                <time>{{ .Date.Format "2006 年 01 月 02 号" }}</time>
            </div>
            <div class="content-item-meta-tags">
                {{ range .Params.Tags }}
                    <a href="/tags/{{ . | urlize }}">{{ . }}</a> 
                {{ end }}
            </div>
        </div>
        <div class="content-item-body">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}